@use "../../styles/_variables" as *;

.formulario {
  background-image: url("/background-formulario.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: $spacing-3;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-3;
  flex-direction: column;
  width: 100%;

  &__botao {
    padding: $spacing-1;
    background-color: $azul-100;
    border-radius: 20px;
    color: $branco;
    font-size: $normal-text;
    font-weight: $font-light;
    transition: all .5s;
    outline: none;
    border: none;

    &:hover {
      background-color: $azul-90;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: $spacing-1-5 $spacing-1;
  }
}