// Cores
$azul-100: #002FBA;
$azul-90: #1E52CF;
$azul-80: #3C75E4;
$azul-70: #5A98F9;
$azul-60: #7C9CFA;
$azul-50: #9ABFF9;
$azul-30: #DEE9FD;
$azul-10: #EBEFFD;
$vermelho-100: #551923;
$vermelho-50: #C1292E;
$vermelho-10: #CC8083;
$cinza-escuro-100: #0D0F1D;
$cinza-escuro-90: rgba(90, 86, 79, 0.5);
$cinza-escuro-80: #464646;
$cinza-escuro-70: #5A564F;
$cinza-claro-20: #9C9C9C;
$preto: #0d0d0d;
$branco: #FDF9F9;

// Tamanho de fontes (desktop)
$heading-1-desktop: 48px;
$heading-2-desktop: 36px;
$heading-3-desktop: 24px;

// Tamanho de fontes (mobile)
$heading-1-mobile: 32px;
$heading-2-mobile: 24px;

// Tamanhos de fontes para texto normal
$normal-text: 16px;
$small-text: 14px;
$large-text: 18px;

// Pesos da fonte
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Tamanho de espaçamentos
$spacing-1: 1rem;
$spacing-1-5: 1.5rem;
$spacing-2: 2rem;
$spacing-3: 3rem;
$spacing-4: 4rem;
$spacing-5: 5rem;
$spacing-6: 6rem;
$spacing-7: 7rem;
$spacing-8: 8rem;
$spacing-9: 9rem;
$spacing-10: 10rem;
