@use "../../styles/_variables" as *;

.header {
  background: url("/background-header.png") lightgray 50% / cover no-repeat;
  background-blend-mode: luminosity;
  padding: $spacing-2 $spacing-3;
  width: 100%;
  transition: background-color 0.3s;
  z-index: 3; 
  top: 0;
  left: 0;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container-botoes {
    margin-top: $spacing-8;
    margin-bottom: $spacing-4;
    display: flex;
    gap: $spacing-2;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: $spacing-2;
    }
  }

  &__container-infos {
    &__titulo {
      font-family: $heading-2-desktop;
      margin-top: $spacing-8;
      width: 650px;
      line-height: $spacing-4;

      @media (max-width: 768px) {
        font-family: $heading-1-mobile;
        width: 100%;
        margin-top: $spacing-3;
      }

      &__span {
        &-vermelho {
          color: $vermelho-50;
        }

        &-azul {
          color: $azul-100;
        }
      }
    }
  }

  &__container__imagem {

    @media (max-width: 768px) {
      width: $spacing-3;
      height: $spacing-3;
    }
  }

  &__menu {
    display: block;  
    position: absolute;
    top: $spacing-1;       
    left: $spacing-1;
    opacity: 0;      
    z-index: 4; 
    width: 40px;
    height: 40px;    
    cursor: pointer;

    &__label {
      display: none;
      z-index: 4; 
      cursor: pointer;
  
      &__close {
        width: $spacing-2;  
        height: auto;
      }

      &__open {
        width: 30px;  
        height: auto;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;

    &__list {
      display: flex;
      flex-direction: row;

      &__item {
        margin-right: $spacing-1-5;

        &__link {
          font-size: $large-text;
          text-decoration: none;
          transition: .5s;

          &:hover {
            transition: .5s;
            color: $azul-60;
          }

          &__botao {
            background: $azul-100;
            padding: $spacing-0 $spacing-1-5;
            border-radius: 20px;

            &:hover {
              background: $azul-90;
              color: $branco;
            }

            @media (max-width: 768px) {
              font-size: $spacing-1;
              padding: $spacing-0 $spacing-1;
              margin-top: $spacing-1 !important;
            }
          }
        }

        @media (max-width: 768px) {
          margin-bottom: $spacing-2;

          &:nth-child(1) {
            margin-top: $spacing-1-5;
          }

          &:nth-child(5) {
            margin-top: $spacing-1;
            margin-left: 0rem;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  }

  &.scrolled {
    background-color: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 768px) {
    padding: $spacing-1 $spacing-1;
  }
}

@media (max-width: 768px) {
  .header {
    &__menu:checked + &__menu__label + .header__nav {
      display: flex;
      position: absolute;
      top: $spacing-5;
      left: 0;
      background-color: $azul-80;
      z-index: 2;
    }

    &__menu__label {
      display: block !important;
    }
  }

  .menu-ativo {
    background-color: $azul-80 !important;
    background: initial;
  }
}

.hidden {
  display: none;
}