@use "../../styles/_variables" as *;

.footer {
  border-top: 1px solid $azul-90;
  
  &__container {
    padding: $spacing-4 $spacing-8;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__lista {

      &__item {
        margin-bottom: $spacing-1;

        &__link {
          display: flex;
          align-items: center;
          color: $azul-10;
          font-weight: $font-extra-light;
          transition: color 0.3s;
          gap: 1rem;
          
          &:hover {
            color: $azul-50;
            
            img {
              filter: brightness(0) saturate(100%) invert(44%) sepia(15%) saturate(1352%) hue-rotate(170deg) brightness(89%) contrast(84%);
              transition: filter 0.3s;
            }
          }
        }

        img {
          transition: filter 0.3s;
        }
      }
      
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: $spacing-1;
        margin-top: $spacing-2;
        margin-bottom: $spacing-1;
      }
    }

    &-copy {
      border-top: 1px solid $azul-90;
      border-bottom: 1px solid $azul-90;
      padding: $spacing-1-5 0;
      text-align: center;
      font-weight: $font-extra-light;

      @media (max-width: 768px) {
        font-size: $small-text;
        line-height: $spacing-1-5;
      }
    }

    &-imagem {
      @media (max-width: 768px) {
        text-align: center;

        &__imagem {
          width: 120px;
          height: 120px;
        }
      }
    }

    @media (max-width: 768px) {
      padding: $spacing-2 $spacing-4;
      display: initial;
      gap: $spacing-1;
    }
  }
}